body{
    background-color: ivory;

    
}
.navbar button{
    border-style: none;
    background: inherit;
}

ul.navbar-right {
    width: 45%;
}
/* li#welcomeDisplay {
    position: relative;
    right: 40px;
}
#welcomeDisplay span{
    position: relative;
    left: 10px;
} */

ul.navbar-right li {
    position: relative;
    left: 46px;
    top: 16px;
    margin: 0 8px;
}

button#getServerData,
button#add {
    background-color: #337ab7;
    border-color: #2e6da4;
}
div.student-add-form {
    z-index: 11;
}
.student-list-container {
    position: relative;

}
.student-list thead {
    background: gainsboro;
 
}

navbar{
    background-color:#ffffff;
}

tbody tr:nth-child(even) {
    background-color: gainsboro;
   
}
div.getall{
    margin-top: 15px;
}

button#cancel {
    
    margin-left: 10px;
}

table.table{
    margin-top: 25px;
    margin-left: 30px;
}

.tdbutton {
    width: 80px;
}
.td-Delbutton:hover{

}

input#updateGrade,
input#updateCourse,
input#updateName{
    color: gray;
}
td { position: relative; }

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 38%;
    left: 0;
    border-bottom: 1px solid red;
    width: 100%;
  
  }
  
  tr.strikeout td:after {
    content: "\00B7";
    font-size: 1px;
  }



/* -------------loginmodal----------------- */

input#rememberme-0 {
    margin-left: -12px;
}






/* ---------------------update form modal--------------------> */
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

/* ------------ for phone --------------------> */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    table.table {
       
        margin-left: 30px;
    }
    table.table.student-list{
        position: relative;
    }
}

@media only screen and (max-width: 840px) {
    body {
        background-color: lightblue;
    }

    .btn-info{
        position: relative;
        left: 154px;
        bottom: 48px;
    }

    table.table {
        margin-top: 0px;
        margin-left: 0px;
    }

}